.top{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
}

.top li{
  width: 50%;
  height: 38px;
  line-height: 38px;
  float: left;
  text-align: center;
}

.top li a{
  display: block;
  width: 100%;
  height: 100%;
  color: #999999;
}


.top .active{
  color: #f15a0c;
  border-bottom: 2px solid #f15a0c;
}


.AppFoort{
  width: 100%;
  /*position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;*/
  border-top: 2px solid #ddd;
  margin-bottom: 40px;
 
}


.goods{
  margin-top: 40px;
  width: 100%;
  height: 100%;
  overflow-y:scroll;
  display: block;
  background: #fff;
  /*display: none;*/
}

.goods .orderid{
  color: #333333;
  height: 37px;
  line-height: 37px;
  border-bottom: 1px solid #ddd;
  margin-left: 10px;
}

.goods .orderid a{
  color: #00a0f8;
  float: right;
  margin-right: 11px;
}

/*商品列表 start*/
.goodsList{
  background: #eee;
  /*overflow: hidden;*/
}

.goodsList li{
  margin-bottom: 5px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
}

/*购物车列表*/
.goodsList .item{
  border-bottom: 1px solid #ddd;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
}

.goodsList .item .radio{
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  margin-top: 6px;
  margin-right: 10px;
}

.goodsList .item .radio img{
  width: 100%;
  height: 100%;
}

.goodsList .list_l{
  width: 60px;
  margin-right: 10px;
}

.goodsList .list_l img{
  width: 100%;
}


.goodsList .list_m{
  flex: 2;
  color: #000;
}

.goodsList .list_r{
  flex: 1;
  margin-right: 10px;
  text-align: right;
}

.goodsList .list_r .price{
  color:#ff6600;
}


.sumPrice{
  width: 100%;
  border-bottom: 1px solid #ddd;
  height: 39px;
  line-height: 39px;
  padding-left: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  display: none;
}

.sumPrice button{
  background: #ff6600;
  border: none;
  color: #fff;
  border-radius: 4px;
  float: right;
  margin-top: 4px;
}

/*购物记录列表*/
.item_record .price_record{
  width: 100%;
  border-bottom: 1px solid #ddd;
  height: 39px;
  line-height: 39px;
  padding-left: 10px;
  background: #fff;
}

.price_record button{
  background: #ff6600;
  border: none;
  color: #fff;
  border-radius: 4px;
  float: right;
  margin-top: 4px;
}

.edit{
  border-radius: 5px;
  width: 77px;
  float: right;
}

.edit input{
  width: 23px;
  height: 19px;
  border: 1px solid #ddd;
  border-radius: 0;
  float: left;
  padding: 0;
  text-align: center;
  background: #f2f2f2;
  color: #666666;
  margin-top: 5px;
}

.edit input:nth-child(2) {
  background: #fff;
  color: #000000;
}



.edit_bottom{
  width: 100%;
  border-bottom: 1px solid #ddd;
  height: 39px;
  line-height: 39px;
  padding-left: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  color: #ed5050;
}

.edit_bottom .radio{
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  margin-top: 9px;
}

.edit_bottom .radio img{
  width: 100%;
  height: 100%;
}


.edit_bottom .clear{
  background: #ed5050;
  border: 1px solid #b93232;
  color: #fff;
  border-radius: 4px;
  float: right;
  margin-top: 4px;
  margin-right: 10px;
}