.top{
  height: 41px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.top h2{
  height:38px;
  width: 100%;
  border-bottom: 2px solid #f15a0c;
  color: #f15a0c;
  font-size: 13px;
  line-height: 38px;
  text-align: center;
}

.goodsList .content div{
  height: 40px;
}
.goodsList ul{
  width: 100%;
}
.goodsList li{
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding:15px 10px;
}

.goodsList .content{
  width: 100%;
  display: flex;
}

.goodsList .list_l{
  width: 40px;
  margin-right: 10px;
}

.goodsList .list_l img{
  width: 100%;
}

.goodsList .list_m{
  flex: 1;
}

.goodsList .list_m h3{
  color:#333333;
}

.goodsList .list_m p{
  color:#e4393c;
  font-weight: 600;
}



.goodsList .list_r{
  padding-left: 15px;
  padding-right: 5px;
  line-height: 40px;
  border-left: 1px solid #ddd;
  color: #999999;

}

.goodsList li p{
  width: 100%;
}