.header{
  width: 100%;
  height: 37px;
  background: #ff7600;
  box-sizing: border-box;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.header p{
  height: 37px;
  line-height: 37px;
  color: #fff;
}

.content{
  background: #eee;
}

.goods{
  padding: 0 10px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.title{
  height: 42px;
  border-bottom: 1px solid #ddd;
  line-height: 42px;
}

.goodsList .item{
  display: flex;
  padding: 20px 0;
}


.goodsList .list_l{
  width: 60px;
  margin-right: 10px;
}

.goodsList .list_l img{
  width: 100%;
}


.goodsList .list_m{
  flex: 2;
  color: #000;
}

.goodsList .list_r{
  flex: 1;
  margin-right: 10px;
  text-align: right;
}

.goodsList .list_r .price{
  color:#ff6600;
}

.sumPrice p{
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #ddd;
}

.goodsList .numPrice{
  float: right;
  color: #ff6600;
}

/*地址*/
.ems{
  background: #fff;
  margin-top: 10px;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 26px;
  box-sizing: border-box;
}

.ems .mui-icon{
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 20px;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
}


.ems .site{
  padding: 10px 10px;
}

.ems .site .phone{
  float: right;
}

.ems .site  p{
  line-height: 24px;
}




.clearing{
  height: 66px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
  background: #fff;
}

.clearing p{
  text-align: center;
  line-height: 33px;
}

.clearing p:nth-child(2){
  color:  #ff6600;
}

.clearingBtn{
  padding: 0 10px;
}

.clearingBtn button{
  height: 40px;
  margin: 20px 0;
  background: #06bf04;
  color:  #fff;
  border: none;
  border-radius: 6px;
  width: 100%;
}

.foortBtn{
  overflow: hidden;
  margin: 10px 0;
  background: #fff;
  padding: 10px 0;
}

.foortBtn button{
  height: 26px;
  padding: 0 14px;
  text-align: center;
  border-radius: 13px;
  border: 1px solid #ddd;
  float: right;
  margin-right: 10px;
}

.foortBtn button:nth-child(2) {
  color: #ff5500;
  border: 1px solid #ff5500;
}

